<div class="col-md-6">
  <h1>Sign up</h1>
  <%= form_for(@user) do |f| %>
      <% if @user.errors.any? %>
          <div id="error_explanation">
            <h4>
              <strong class="text-danger"><%= pluralize(@user.errors.count, 'error') %> prohibited this user from being
                saved:</strong>
            </h4>
            <ul>
              <% @user.errors.full_messages.each do |msg| %>
                  <li class="alert alert-danger alert-dismissable">
                    <%= msg %>
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                  </li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
      </div>
  <% end %>
</div>