<div class="comment">
  <div class="date">
    <%= comment.created_at %>
  </div>
  <div>
    <%= User.find(comment.author_id).name %>
  </div>
  <div class="content">
    <%= comment.content %>
  </div>
  <div class="action">
    <% if comment.author?(current_user) %>
      <%= link_to ' ', edit_post_comment_path(@post, comment), class: "glyphicon glyphicon-pencil", title: "edit"%>
      <%= link_to ' ', post_comment_path(@post, comment), class: "remove glyphicon glyphicon-trash", title: 'delete',
                  method: :delete %>
    <% end %>
  </div>
</div>