<h1>Listing posts</h1>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Description</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.author %></td>
        <td><%= post.description %></td>
        <td>
            <%= link_to 'Show', post %>
            <% if post.author?(current_user) %>
                <%= link_to 'Edit', edit_post_path(post) %>
                <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if sign_in? %>
    <%= link_to 'New Post', new_post_path, class: 'btn btn-success btn-large' %>
<% end %>

