<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<p>
  <strong>Author:</strong>
  <%= User.find(@post.author_id).name%>
</p>

<% if @post.author?(current_user) %>
    <%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>
<%= link_to 'Back', root_path %>

<%= render 'comment_form' %>

<div class="comment">
  <% @post.comments.each do |comment| %>
    <div class="date">
      <%= comment.created_at %>
    </div>
    <div>
      <%= User.find(comment.author_id).name %>
    </div>
    <div class="content">
      <%= comment.content %>
    </div>
    <div class="action">
      <% if @post.author?(current_user) %>
        <%= link_to ' ', edit_comments_path(@post, comment), class: "glyphicon glyphicon-pencil", title: "edit"%>
        <%= link_to ' ', comments_path(@post, comment), class: "remove glyphicon glyphicon-trash", title: 'delete',
                    method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  <% end %>
</div>
